[submodule "smart-account-project/lib/forge-std"]
	path = smart-account-project/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "smart-account-project/lib/openzeppelin-contracts"]
	path = smart-account-project/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "smart-account-project/lib/openzeppelin-contracts-upgradeable"]
	path = smart-account-project/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "dummy/lib/forge-std"]
	path = dummy/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "dummy/lib/openzeppelin-contracts"]
	path = dummy/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
